@model PetSearcher.Models.Notice

@{
    ViewData["Title"] = "Удалить";
}


<h3>Вы уверены, что хотите удалить объявление?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KindOfPet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KindOfPet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Фото питомца
        </dt>
        <dd class="col-sm-10">
            <img class="PetImage" src="@("~/Image/"+ Model.ImageName)" asp-append-version="true" width="384" height="216" />
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к доске объявлений</a>
    </form>
</div>
