@model IEnumerable<PetSearcher.Models.Notice>
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "Объявления";
}
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@inject ApplicationDbContext dbContext;


<p>
    <a class="btn btn-success" asp-action="Create">Разместить объявление</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KindOfPet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Номер телефона хозяина
            </th>
            <th>
                Место пропажи
            </th>
            <th>
                Фото питомца
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KindOfPet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @(ViewBag.PhoneNumbers[item.UserId])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <img class="PetImage" src="@("~/Image/"+ item.ImageName)" asp-append-version="true" />
                </td>
                <td>
                    @if (ViewBag.UserId == item.UserId || User.IsInRole("Support"))
                    {
                        <a class="btn btn-secondary mt-1" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                        <a class="btn btn-danger mt-1" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    }
                    <a class="btn btn-primary mt-1" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>

                </td>
            </tr>

        }
    </tbody>
</table>