@model List<Notice>
@{
    ViewData["Title"] = "Мои объявления";
}

<h3>Ваши объявления</h3>
<hr />
<p>
    <a class="btn btn-success" asp-action="Create">Разместить объявление</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Вид питомца
            </th>
            <th>
                Кличка
            </th>
            <th>
                Описание
            </th>
            <th>
                Номер телефона хозяина
            </th>
            <th>
                Место пропажи
            </th>
            <th>
                Фото питомца
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KindOfPet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @(ViewBag.PhoneNumbers[item.UserId])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <img class="PetImage" src="@(" ~/Image/"+ item.ImageName)" asp-append-version="true" width="384" height="216" />
                </td>
                <td>

                    <a class="btn btn-secondary mt-1" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                    <a class="btn btn-danger mt-1" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    <a class="btn btn-primary mt-1" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>

                </td>
            </tr>

        }
    </tbody>

</table>